TRAFFIC_DB_HOST=/tmp/traffic_pg_socket
TRAFFIC_DB_PORT=55432
TRAFFIC_DB_NAME=transport_analytics
TRAFFIC_DB_USER=transport_user
TRAFFIC_DB_PASSWORD=transport_pass
TRAFFIC_DB_SOCKET_DIR=/tmp/traffic_pg_socket
TRAFFIC_PGDATA=.local_pg/data
TRAFFIC_PGLOG=.local_pg/postgres.log
TRAFFIC_STREAM_SOURCE=""
TRAFFIC_STREAM_SOURCE_POOL=""
TRAFFIC_VK_URL=""
TRAFFIC_VIDEO_FALLBACK=""
TRAFFIC_TRACKING_FALLBACK=""
TRAFFIC_BATCH_TRAFFIC=""
TRAFFIC_ARTIFACTS_DIR=artifacts
TRAFFIC_STREAM_WINDOW_MINUTES=1
TRAFFIC_BATCH_CAMERA_ID=historical_camera_1
TRAFFIC_STREAM_CAMERA_ID=stream_camera_1
TRAFFIC_ENABLE_NETWORK=1
TRAFFIC_YOLO_MODEL_PATH=yolov8n.pt
TRAFFIC_YOLO_CONFIDENCE=0.25
TRAFFIC_YOLO_IMGSZ=960
TRAFFIC_STREAM_TARGET_FPS=10
TRAFFIC_STREAM_MAX_SECONDS=180
TRAFFIC_STREAM_MAX_MISSED_FRAMES=10
TRAFFIC_VK_CACHE_PATH=data_cache/vk_preview.mp4
LIVE_SEGMENT_DIR=artifacts/live_buffer
LIVE_SEGMENT_SECONDS=10
LIVE_RUNTIME_SECONDS=300
LIVE_CAPTURE_TIMEOUT_SECONDS=25
LIVE_KEEP_SEGMENTS=0
LIVE_RESOLVE_EACH_CYCLE=1
LIVE_RETRY_BACKOFF_SECONDS=2
LIVE_MAX_CONSECUTIVE_FAILURES=6
LIVE_TRACK_STITCH_ENABLED=1
LIVE_TRACK_STITCH_DISTANCE_PX=120
LIVE_TRACK_STITCH_GAP_SECONDS=20
LIVE_TRACK_STATE_TTL_SECONDS=60
TRAFFIC_MOTION_ROI_ENABLED=1
TRAFFIC_MOTION_MASK_THRESHOLD=0.03
TRAFFIC_MOTION_BBOX_MIN_RATIO=0.02
TRAFFIC_TRACK_MIN_DETECTIONS=1
TRAFFIC_TRACK_MIN_DISTANCE_PX=10
TRAFFIC_TRACK_MIN_CONFIDENCE=0.25
TRAFFIC_MAX_BBOX_AREA_RATIO=0.35
VEHICLE_MIN_ASPECT_RATIO=0.35
VEHICLE_MAX_ASPECT_RATIO=4.5
UPPER_ZONE_VEHICLE_BOTTOM_RATIO=0.25
UPPER_ZONE_MOTION_RATIO=0.12
TRAFFIC_STATIC_TRACK_MIN_DURATION_SEC=5
TRAFFIC_STATIC_TRACK_MAX_DISTANCE_PX=20
